*{
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    /* background-color: pink; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inheader{
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image1{
    width: 50px;
}
.part1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.texts{
    font-size: 20px;
}
.button1{
    font-size: 20px;
    padding: 12px;
    width: 120px;
    border: none;
}
.button2{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 12px;
    width: 120px;
    border: none;
}
.part2{
    display: flex;
    align-items: center;
    gap: 20px;
}