@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    font-family: "Megrim", system-ui;
    font-weight: 700;
    font-style: normal;
}
body{
    background-color: rgb(255, 248, 240);
}
header{
    width: 100%;
    /* background-color: pink; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inheader{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image1{
    width: 50px;
}
.part1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.texts{
    font-size: 20px;
}
.button1{
    font-size: 20px;
    padding: 12px;
    width: 120px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}
.button1:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.button2{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 12px;
    width: 120px;
    border: none;
}
.button2:hover{
    cursor: pointer;
    background-color: grey;
    color: black;
}
.part2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.inheaderphone{
    display: none;
}
.section1{
    width: 100%;
    height: 580px;
    margin-top: 50px;
}
.insection1{
    width: 90%;
    margin: auto;
    height: 100%;
    /* background-color: grey; */
    display: flex;
}
.part1inSection1{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.pAlways{
    font-weight: 1200;
    font-size: 70px;
    line-height: 100px;
}
.pABetter{
    width: 55%;
    line-height: 30px;
    word-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.input1{
    padding: 13px;
    font-size: 18px;
    color: black;
    width: 300px;
    border: 1px solid black;
    outline: none;
    background-color: rgba(240, 248, 255, 0);
}
.input1:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.button3{
    padding: 14px;
    color: white;
    background-color: black;
    border: 1px solid black;
    width: 150px;
    font-size: 17px;
}
.button3:hover{
    background-color: grey;
    color: black;
    cursor: pointer;
}
.emailAndButton{
    display: flex;
    align-items: center;
}
.payBox{
    /* background-color: aqua; */
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.imagePay1{
    width: 100px;
}
.imagePay2{
    width: 65px;
}
.imagePay3{
    width: 140px;
}
.imageIllustration{
    width: 100%;
}
.section2{
    width: 100%;
    height: 580px;
    margin-top: 150px;
}
.insection2{
    width: 90%;
    margin: auto;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part1inSection2{
    width: 35%;
    height: 100%;
    /* background-color: aqua; */
}
.part2inSection2{
    width: 55%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageIllustration2{
    width: 100%;
    height: auto;
}
.btnAboutUs{
    padding: 10px;
    font-size: 12px;
    background-color: rgba(0, 255, 255, 0);
    width: 100px;
    color: black;
    border: 1px solid black;
    font-weight: 700;
}
.btnAboutUs:hover{
    background-color: blanchedalmond;
    cursor: pointer;
}
.pFaster{
    font-size: 60px;
    font-weight: 1200;
    width: 100%;
}
.pAdd{
    width: 85%;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.imageAndDot{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.DotImage{
    width: 30px;
}
.pShared{
    font-size: 20px;
}
.section3{
    width: 100%;
    height: 920px;
    margin-top: 100px;
}
.insection3{
    width: 90%;
    margin: auto;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part1inSection3{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}
.part2inSection3{
    width: 35%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnHowIts{
    padding: 10px;
    font-size: 12px;
    background-color: rgba(0, 255, 255, 0);
    width: 150px;
    color: black;
    border: 1px solid black;
    margin-bottom: 30px;
}
.btnHowIts:hover{
    background-color: blanchedalmond;
    cursor: pointer;
}
.image301Girl{
    width: 100%;
}
.imageicon{
    width: 100px;
}
.pSharedCloud{
    font-size: 20px;
    margin-bottom: 20px ;
}
.pNavigate{
    width: 70%;
}
.imageAndTextSec3{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.section4{
    width: 100%;
    height: 550px;
    /* background-color: pink; */
    margin-top: 100px;
}
.imsection4{
    width: 90%;
    margin: auto;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part1inSection4{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
}
.part2inSection4{
    width: 55%;
}
.btnPricing{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}
.imagePig{
    width: 100%;
}
.pselect{
    text-align: end;
    margin-bottom: 40px;
}
.pPriceText{
    text-align: end;
    font-size: 20px;
}
.part1inSection4{
display: flex;
align-items: center;
justify-content: center;
}
.section5{
    width: 100%;
    height: 650px;
}
.insection5{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.card1{
    width: 28% ;
    height: 100%;
    /* background-color: aqua; */
    padding: 3%;
    border: 1px solid grey;
}
.card2{
    width: 30% ;
    height: 100%;
    /* background-color: aqua; */
    padding: 3%;
    border: 1px solid grey;
    background-color: black;
    color: white;
}
.incard1{
    display: flex;
    align-items: center;
    /* background-color: pink; */
    gap: 10px;
}
.incard2{
    display: flex;
    align-items: center;
    /* background-color: pink; */
    gap: 10px;
}
.pDollar{
    font-size: 30px;
    font-weight: 700;
    align-self: flex-start;
}
.p49{
    font-size: 80px;
    font-weight: 700;
}
.pPerMonth{
    font-size: 20px;
    font-weight: 700;
    align-self: flex-end;
}
.DotAndText{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.pTheMac{
    font-size: 20px;
}
.pAPayOnce{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.btnJoin{
    font-size: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
    background-color: black;
    color: white;
}
.btnJoin2{
    font-size: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
    background-color: white;
    color: black;
}
.section6{
    width: 100%;
    height: 710px;
    margin-top: 100px;

}
.insection6{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
}
.part1inSection6{
    width: 70%;
    /* background-color: antiquewhite; */
}
.pCommonQue{
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.pTheOnline{
    width: 38%;
    margin-top: 30px;
}
.pHowMuch{
    font-weight: 700;
    margin-top: 50px;
    font-size: 20px;
}
.pCont{
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pDoI{
    font-weight: 1200;
    font-size: 23px;
    /* background-color: rgb(131, 77, 6); */
    width: 100%;
    padding: 20px;
}
.pMinus{
    width: 35px;
}
.DivMinus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: aqua; */
    border-top: 1px solid black;
}
.part2inSection6{
    width: 30%;
    height: 100%;
}
.imgGiraf{
    width: 90%;
    margin-top: 100px;
}
.DivImage{
    display: flex;
    align-items: center;
    justify-content: center;
}