@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    font-family: "Megrim", system-ui;
    font-weight: 700;
    font-style: normal;
}
body{
    background-color: rgb(255, 248, 240);
}
header{
    width: 100%;
    /* background-color: pink; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inheader{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image1{
    width: 50px;
}
.part1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.texts{
    font-size: 20px;
}
.button1{
    font-size: 20px;
    padding: 12px;
    width: 120px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}
.button1:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.button2{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 12px;
    width: 120px;
    border: none;
}
.button2:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.part2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.inheaderphone{
    display: none;
}
.section1{
    width: 100%;
    height: 580px;
    margin-top: 50px;
}
.insection1{
    width: 90%;
    margin: auto;
    height: 100%;
    /* background-color: grey; */
    display: flex;
}
.part1inSection1{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.pAlways{
    font-weight: 1200;
    font-size: 70px;
    line-height: 100px;
}
.pABetter{
    width: 55%;
    line-height: 30px;
    word-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.input1{
    padding: 13px;
    font-size: 18px;
    color: black;
    width: 300px;
    border: 1px solid black;
    outline: none;
    background-color: rgba(240, 248, 255, 0);
}
.input1:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.button3{
    padding: 14px;
    color: white;
    background-color: black;
    border: 1px solid black;
    width: 150px;
    font-size: 17px;
}
.button3:hover{
    background-color: grey;
    color: black;
    cursor: pointer;
}
.emailAndButton{
    display: flex;
    align-items: center;
}
.payBox{
    /* background-color: aqua; */
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.imagePay1{
    width: 100px;
}
.imagePay2{
    width: 65px;
}
.imagePay3{
    width: 140px;
}
.imageIllustration{
    width: 100%;
}
.section2{
    width: 100%;
    height: 580px;
    margin-top: 150px;
}
.insection2{
    width: 90%;
    margin: auto;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part1inSection2{
    width: 35%;
    height: 100%;
    /* background-color: aqua; */
}
.part2inSection2{
    width: 55%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageIllustration2{
    width: 100%;
    height: auto;
}
.btnAboutUs{
    padding: 10px;
    font-size: 12px;
    background-color: rgba(0, 255, 255, 0);
    width: 100px;
}
.btnAboutUs:hover{
    background-color: blanchedalmond;
    cursor: pointer;
}
.pFaster{
    font-size: 60px;
    font-weight: 1200;
    width: 100%;
}
.pAdd{
    width: 85%;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.imageAndDot{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.DotImage{
    width: 30px;
}
.pShared{
    font-size: 20px;
}