@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@media(max-width:510px){
    *{
        margin: 0;
        font-family: sans-serif;
        box-sizing: border-box;
        padding: 0;
        font-family: "Megrim", system-ui;
        font-weight: 700;
        font-style: normal;
    }
    .inheader{
        display: none;
    }
    .inheaderphone{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: antiquewhite; */
        width: 90%;
    }
    .section1 {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .insection1 {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .part1inSection1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        padding: 0 10px;
    }

    .pAlways {
        width: 100%;
        font-size: 24px;
        line-height: 32px;
        text-align: start;
    }

    .pABetter {
        width: 100%;
        line-height: 25px;
        margin-bottom: 30px;
        text-align: start;
    }

    .emailAndButton {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: stretch;
    }

    .input1 {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .button3 {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .payBox {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    .imagePay1,
    .imagePay2,
    .imagePay3 {
        width: 60px;
    }

    .part2inSection1 {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .imageIllustration {
        width: 90%;
        max-width: 300px;
        height: auto;
    }
    .section2 {
        width: 100%;
        height: auto;
        margin-top: 80px;
    }

    .insection2 {
        width: 95%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* background-color: pink; */
    }

    .part1inSection2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .imageIllustration2 {
        width: 90%;
        max-width: 300px;
        height: auto;
    }

    .part2inSection2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btnAboutUs {
        width: 100px;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .pFaster {
        width: 100%;
        font-size: 30px;
        line-height: 36px;
        font-weight: 1200;
        margin-bottom: 20px;
    }

    .pAdd {
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .imageAndDot {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    .DotImage {
            width: 20px;
        }

    .pShared {
        font-size: 16px;
    }
    .section3 {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.insection3 {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part1inSection3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btnHowIts {
    margin-bottom: 20px;
}

.pFaster {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}

.imageAndTextSec3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 25px;
}

.imageicon {
    width: 45px;
}

.pSharedCloud {
    font-size: 18px;
    margin-bottom: 8px;
}

.pNavigate {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
}

.part2inSection3 {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.image301Girl {
    width: 90%;
    max-width: 300px;
}
.pPhoneFaster{
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
}

}